
.tools-container{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.tool-card {
    background-color: #1e1e1e;
    border-radius: 100%;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    height: 8vw;
    max-height: 160px;
    min-height: 185px;
    overflow: hidden;
    position: relative;
    transition: transform 250ms;
    width: calc(100% / 9);
    text-align: center;
}
.tool-card:hover {
    transform: translateY(-5px);
}
.tool-card:hover .tool-card-background {
    filter: grayscale(25%);
}
.tool-card .tool-card-background {
    border-radius: 10px;
    filter: grayscale(100%);
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    transition: filter 250ms;
    width: 100%;
}
.tool-card .tool-card-content {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    width: 100%;
    z-index: 2;
}
.tool-card .tool-card-content .tool-card-content-header {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.tool-card .tool-card-content .tool-card-content-header .tool-card-label {
    color: #42a5f5;
    font-size: 0.8em;
    text-transform: uppercase;
}
